<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lethalskillzz.bakingapp">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.lethalskillzz.baker.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">

        <activity
            android:name="com.lethalskillzz.baker.presentation.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.lethalskillzz.baker.presentation.recipelist.RecipeListActivity" />

        <activity android:name="com.lethalskillzz.baker.presentation.recipedetail.RecipeDetailActivity"
            android:parentActivityName="com.lethalskillzz.baker.presentation.recipedetail.RecipeDetailActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lethalskillzz.baker.presentation.recipedetail.RecipeDetailActivity" />
        </activity>

        <activity android:name="com.lethalskillzz.baker.presentation.recipestep.RecipeStepActivity"
            android:parentActivityName="com.lethalskillzz.baker.presentation.recipedetail.RecipeDetailActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lethalskillzz.baker.presentation.recipedetail.RecipeDetailActivity" />
        </activity>

        <receiver android:name="com.lethalskillzz.baker.presentation.widget.RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_provider_info"/>
        </receiver>
        <service android:name="com.lethalskillzz.baker.presentation.widget.RecipeWidgetService" />

    </application>

</manifest>